<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopgroup.order.mapper.GbOrderGoodsInfoMapper">

    <!-- 订单商品信息表 -->
    <resultMap id="BaseResultMap" type="cn.com.shopgroup.order.model.GbOrderGoodsInfo">
        <id column="id" property="Id"/>
        <result column="order_no" property="orderNo"/>
        <result column="item_id" property="itemId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_price" property="goodsPrice"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="receipt_num" property="receiptNum"/>
        <result column="apply_refund" property="applyRefund"/>
        <result column="refund_goods_num" property="refundGoodsNum"/>
        <result column="refund_num" property="refundNum"/>
        <result column="goods_unit" property="goodsUnit"/>
        <result column="goods_img" property="goodsImg"/>
        <result column="goods_type" property="goodsType"/>
        <result column="pack_id" property="packId"/>
        <result column="pack_name" property="packName"/>
        <result column="pack_num" property="packNum"/>
        <result column="sku_ids" property="skuIds"/>
        <result column="sku_names" property="skuNames"/>
        <result column="sku_id" property="skuId"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,order_no, item_id, goods_id, goods_name, goods_price, goods_num, receipt_num, apply_refund,refund_goods_num,refund_num,goods_unit, goods_img,
        goods_type, pack_id, pack_name, pack_num, sku_ids, sku_names, sku_id,add_time,update_time
    </sql>

</mapper>
