<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopgroup.order.mapper.GbReportGoodsInfoMapper">

    <!-- 团长商品统计报表 -->
    <resultMap id="BaseResultMap" type="cn.com.shopgroup.order.model.GbReportGoodsInfo">
        <id column="report_id" property="reportId"/>
        <result column="leader_id" property="leaderId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="report_name" property="reportName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="order_total" property="orderTotal"/>
        <result column="sales_total" property="salesTotal"/>
        <result column="num_total" property="numTotal"/>
        <result column="goods_unit" property="goodsUnit"/>
        <result column="add_time" property="addTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        report_id, leader_id, goods_id, goods_name, report_name, start_time, end_time, order_total, sales_total, num_total, goods_unit, add_time
    </sql>

</mapper>
