<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.shopgroup.user.mapper.GbOrgMessageInfoMapper">

    <!-- 团长消息表 -->
    <resultMap id="BaseResultMap" type="cn.com.shopgroup.user.model.GbOrgMessageInfo">
        <id column="msg_id" property="msgId"/>
        <result column="leader_id" property="leaderId"/>
        <result column="staff_id" property="staffId"/>
        <result column="msg_type" property="msgType"/>
        <result column="msg_content" property="msgContent"/>
        <result column="is_read" property="isRead"/>
        <result column="add_time" property="addTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        msg_id, leader_id, staff_id, msg_type, msg_content, is_read, add_time
    </sql>

</mapper>
